body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

/* body > * { background: rgba(255, 0, 0, 0.3); } 
body > * > * { background: rgba(255, 255, 0, 0.3); } 
body > * > * > * { background: rgba(0, 0, 255, 0.3); } 
body > * > * > * > * { background: rgba(0, 255, 255, 0.3); } */

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.main-header {
  background-color: #eee;

  min-height: 355px;
}

/* main-navigation */

.navigation-container {
  width: 1200px;
  min-height: 135px;
  
  margin: 0 auto;
  padding: 0 20px;
  
  box-sizing: border-box;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  display: flex;
}

.main-header-logo {
  margin-top: 50px;
  margin-right: 200px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  display: flex;

  margin: 0;
  margin-top: 75px;
  padding: 0;
}

.site-navigation li {
  padding-right: 45px; 
}

.site-navigation li:last-child {
  padding-right: 290px; 
}

.user-navigation {
  margin-right: 140px;
}

.site-navigation a,
.user-navigation a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.site-navigation .current {
  text-decoration: underline;
}

/* main-header-slider */

.slider-container {
  width: 1200px;

  margin: 0 auto;
  padding: 0 20px;
  
  box-sizing: border-box;
}

.slider {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* store-header */

.store-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  text-align: center;
  margin: 0px;
  margin-top: 60px;
}

/* main-content */

/* offers index.html */

.offers-container {
  width: 1200px;

  margin: 0 auto;
  padding: 0 20px;
  
  box-sizing: border-box;
}

.offers-list {
  margin: 0;
  margin-top: 80px;
  padding: 0;

  display: flex;
}

.offers li {
  list-style: none;
  padding-right: 100px; 
}

.offers li:last-of-type {
  padding-right: 0; 
}

.offers h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.offers-description {
  color: #283136;
}

.offers-button {
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  display: inline-block;

  width: 160px;
  min-height: 50px;
}

.button-web_sites {
  background-color: #fb565a;
}

.button-web_sites:hover,
.button-web_sites:focus {
  background-color: #e74246;
}

.button-web_sites:active {
  color: #e37376;

  background-color: #d7373b;
}

.button-applications {
  background-color: #00ca74;
}

.button-applications:hover,
.button-applications:focus {
  background-color: #00bc6c;
}

.button-applications:active {
  color: #4dc491;

  background-color: #00aa62;
}

.button-presentations {
  background-color: #efc84a;
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: #eab534;
}

.button-presentations:active {
  color: #edc265;

  background-color: #e5a722;
}

/* filters store.html */

.product_filter li {
  list-style: none;
}

.product_filter .fieldset-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-label {
  line-height: 20px;
  color: #283136;
}

.filter-button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

/* catalog store.html */

.catalog li {
  list-style: none;
}

.catalog-item-hover {
  background-color: #eee;
}

.catalog-item-hover h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-hover p {
  line-height: 18px;
  color: #666;
}

.catalog-item-hover a {
  line-height: 18px;
  font-weight: 500;
  color: #fff;
}

.catalog-item-hover-button {
  color: #fff;

  background-color: #fb565a;
}

/* modal-write-us */

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us-label {
  line-height: 18px;
  font-weight: 700;
}

.write-us-label input,
.write-us-label textarea {
  line-height: 18px;
  color: #444;
}

/* footer */

.main-footer li {
  list-style: none;
}

.footer-discount-tagline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-discount-text {
  line-height: 22px;
  color: #444;
}
