body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;

  background-color: #fff;
}

/* body > * { background: rgba(255, 0, 0, 0.3); } 
body > * > * { background: rgba(255, 255, 0, 0.3); } 
body > * > * > * { background: rgba(0, 0, 255, 0.3); } 
body > * > * > * > * { background: rgba(0, 255, 255, 0.3); } */

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.main-header {
  background-color: #eee;

  min-height: 355px;
}

/* main-navigation */

.navigation-container {
  width: 1200px;
  min-height: 135px;

  margin: 0 auto;
  padding: 0 20px;

  box-sizing: border-box;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  display: flex;
}

.main-header-logo {
  margin-top: 50px;
  margin-right: 200px;
}

.menu-container {
  width: 1000px;

  display: flex;
  justify-content: space-between;
}

.site-navigation,
.user-navigation {
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 75px;
  padding: 0;
}

.site-navigation li {
  padding-right: 45px;
}

.site-navigation a,
.user-navigation {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation:hover,
.user-navigation:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation:active {
  color: #a6a6a6;
}

.cart-button {
  position: relative;
  padding-left: 40px;
}

.cart-button::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.site-navigation .current {
  text-decoration: underline;
}

/* main-header-slider */

.slider-container {
  width: 1200px;

  margin: 0 auto;
  padding: 0 20px;
  padding-top: 60px;
  padding-bottom: 80px;

  box-sizing: border-box;
}

.slider {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* store-header */

.store-header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  text-align: center;
  margin: 0px;
  margin-top: 60px;
}

/*site main content  */

/* offers index.html */

.offers-container {
  width: 1200px;

  margin: 0 auto;
  padding: 0 20px;
  padding-top: 80px;

  box-sizing: border-box;
}

.offers-list {
  margin: 0;
  padding: 0;

  display: flex;
}

.offers li {
  list-style: none;
  padding-right: 100px;
}

.offers li:last-of-type {
  padding-right: 0;
}

.offers h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-top: 20px;
}

.offers-description {
  color: #283136;

  margin: 0;
  margin-top: 20px;
}

.offers-button {
  display: block;
  width: 160px;
  padding: 15px 0;
  margin-top: 30px;

  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.button-web_sites {
  background-color: #fb565a;
}

.button-web_sites:hover,
.button-web_sites:focus {
  background-color: #e74246;
}

.button-web_sites:active {
  color: #e37376;

  background-color: #d7373b;
}

.button-applications {
  background-color: #00ca74;
}

.button-applications:hover,
.button-applications:focus {
  background-color: #00bc6c;
}

.button-applications:active {
  color: #4dc491;

  background-color: #00aa62;
}

.button-presentations {
  background-color: #efc84a;
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: #eab534;
}

.button-presentations:active {
  color: #edc265;

  background-color: #e5a722;
}

/* studio-benefits index.html */

.studio-benefits-container {
  width: 1200px;
  margin: 0 auto;

  padding: 125px 20px 0px;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.studio-benefits-left-container {
  width: 660px;
}

.studio-benefits-right-container {
  width: 360px;
}

.studio-benefits-tagline {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  margin: 0;
  margin-top: 30px;
}

.studio-benefits-description {
  margin: 0;
  margin-top: 35px;
}

.studio-benefits-list-heading {
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
}

.studio-benefits-list-heading.left-list {
  margin-top: 40px;
}

.studio-benefits-list-heading.right-list {
  margin-top: 30px;

  text-align: center;
}

.studio-benefits-list {
  margin: 0;
  padding: 0;
}

.studio-benefits-list li {
  list-style: none;
}

.studio-benefits-list.left-list li {
  margin-top: 25px;
}

.studio-benefits-list.right-list {
  display: flex;
  justify-content: space-between;
}

.studio-benefits-list.right-list li {
  line-height: 18px;

  width: 120px;
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
}

.studio-benefits-list.right-list span {
  font-size: 45px;
  font-weight: 700;

  margin-bottom: 30px;
}

/* company-logos index.html */

.company-logos-container {
  width: 1200px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 0 20px;
  padding-top: 120px;
}

.company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-logos img {
  opacity: 0.2;
}

.company-logos img:hover,
.company-logos img:focus {
  opacity: 1;
}

.company-logos img:active {
  opacity: 0.1;
}

/* map index.html */

.map-container {
  width: 1440px;

  margin: 0 auto;
  padding: 0 20px;
  padding-top: 90px;
}

/* main store.html */

.filter-catalog-container {
  width: 1200px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
}

/* filters store.html */

.product_filter li {
  list-style: none;
}

.product_filter .fieldset-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-label {
  line-height: 20px;
  color: #283136;
}

.filter-button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

/* catalog store.html */

.catalog-container {
  width: 760px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.catalog-list li {
  list-style: none;

  width: 360px;
}

.catalog-item-browser {
  width: 360px;
  height: 40px;

  margin: 0;
  padding: 0;

  background-image: url(../img/browser.svg);
}

.catalog-item-hover {
  background-color: #eee;

  padding-bottom: 40px;
}

.catalog-item-hover h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding-top: 30px;
}

.catalog-item-hover p {
  line-height: 18px;
  color: #666;
  text-align: center;

  margin: 0;
  padding-top: 25px;
}

.catalog-item-hover a {
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;

  background-color: #fb565a;

  width: 200px;

  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
}

/* modal-write-us */

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us-label {
  line-height: 18px;
  font-weight: 700;
}

.write-us-label input,
.write-us-label textarea {
  line-height: 18px;
  color: #444;
}

/* footer */

.footer-container {
  width: 1200px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 80px 20px;

  display: flex;
}

.footer-social ul {
  padding: 0;
  margin: 0;

  width: 260px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social li {
  list-style: none;

  padding: 0;
  margin: 0;

  width: 80px;
  height: 80px;
}

.footer-social-button .vk {
  display: block;
  
  width: 80px;
  height: 80px;

  background: #e1e1e1 url(../img/vk-icon.svg) no-repeat;
  background-position: 50%;

  border-radius: 50%;
}

.footer-social-button .fb {
  display: block;

  width: 80px;
  height: 80px;

  background: #e1e1e1 url(../img/fb-icon.svg) no-repeat;
  background-position: 50%;

  border-radius: 50%;
}

.footer-social-button .ig {
  display: block;

  width: 80px;
  height: 80px;

  background: #e1e1e1 url(../img/insta-icon.svg) no-repeat;
  background-position: 50%;

  border-radius: 50%;
}

.footer-discount {
  margin-left: 140px;
}

.footer-discount-tagline {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  margin: 0;
  margin-top: 5px;
}

.footer-discount-text {
  line-height: 22px;
  color: #444;

  margin: 0;
  margin-top: 10px;
}
